@use "../../utils/mixins" as *;

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(convert-to-rem(10px));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}