@use "../utils/mixins" as *;
@use "./variables" as *;

// Button component styles
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  border-radius: convert-to-rem(10px);

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: convert-to-rem(22px);
    height: convert-to-rem(22px);
    background-color: currentColor;
    --_icon-mask: none;
    -webkit-mask-image: var(--_icon-mask);
    mask-image: var(--_icon-mask);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  &__text {
    position: relative;
  }

  &--primary {
    display: inline-flex;
    align-items: center;
    gap: convert-to-rem(4px);
    padding: convert-to-rem(11px) convert-to-rem(16px);
    border-radius: convert-to-rem(12px);
    color: var(--color-blue-900);
    background-color: var(--color-silver-03);
    @include gradient-border(convert-to-rem(100px), convert-to-rem(1px), linear-gradient(180deg, #f2f2f2 0%, #818181 41.42%, #ffffff 100%));

    .btn__text {
      @include typography($font-family-base, $fw-regular, 14px, 18.9px);
      letter-spacing: 0;
      color: inherit;
      white-space: nowrap;
    }

    .btn__icon {
      width: convert-to-rem(26px);
      height: convert-to-rem(26px);
      border-radius: 50%;
      background-color: var(--color-beige-1);
      -webkit-mask-image: none !important;
      mask-image: none !important;

      &::after {
        content: "";
        width: convert-to-rem(16px);
        height: convert-to-rem(8px);
        background-color: var(--color-blue-900);
        -webkit-mask-image: var(--_icon-mask);
        mask-image: var(--_icon-mask);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: contain;
        mask-size: contain;
      }
    }
  }
}
