@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    transition: none !important;
  }
}

:where(section, header, footer) {
  width: 100vw;

  &>.container {
    width: min(90rem - var(--_section-offset) * 2, 100vw - var(--_section-offset) * 2);
    margin-inline: auto;
    height: 100%;
  }
}

main {
  display: grid;
  gap: var(--_section-gap);
  grid-auto-rows: max-content;
}