.container {
  width: 83%;
	margin: 0 auto;
}

.backdrop{
	--_open: 1000ms;
	--_close: 1000ms;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	transition-duration: var(--_open);
	opacity: 0;
	visibility: hidden;
	&[open]{
		opacity: 1;
		visibility: visible;
	}
	&[close]{
		transition-duration: var(--_close);
	}
}

.accordeon{
	--_contentHeight: auto;
	--_pps: 200;
	.content{
		height: 0;
		overflow: hidden;
		transition: height var(--_ts, 3.5s) ease;
	}
	&[open]{
		.content{
			height: var(--_contentHeight);
		}
	}
	&[autoHeight]{
		.content{
			height: auto;
		}
	}
}
