@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    transition: none !important;
  }
}

section {
  width: 100vw;

  &>.container {
    width: calc(100vw - var(--_section-offset));
    margin-inline: auto;
    height: 100%;
  }
}

main {
  width: 100vw;
  overflow: hidden;
  display: grid;
  gap: var(--_section-gap);
  grid-auto-rows: max-content;
}