.interaction-disabled {
  pointer-events: none;
  cursor: default;
  user-select: none;
  touch-action: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

input,
textarea {
  border: none;
  outline: none;
  width: 100%;
  min-width: 0;
  resize: none;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: checkbox;
}

button,
input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}