@use "../utils/mixins" as *;

$font-family-base: "Montserrat", sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

:root {
  // Gaps
  --_section-gap: #{Clamp(2rem, 7.5rem)};
  --_section-offset: #{Clamp(1rem, 8rem)};

  // --- Основні кольори (Primary) ---
  --color-primary-dark: #1A3B67;
  --color-primary: #0A3F7F;
  --color-primary-light: #265E95;
  --color-secondary: #79B7E4;

  // --- Акцентні кольори (Accent) ---
  --color-accent: #E6C0A3;
  --color-accent-light: #FEE5D3;

  // --- Нейтральні та Текст (Neutrals & Text) ---
  --color-white: #FFFFFF;
  --color-black: #0C0B0B;
  --color-text-main: #000000;
  --color-headings: #000000;
  --color-text-gray: #43474B;
  --color-gray-light: #CAD5DA;
  --color-background-light: #f4f6fa;
} 