@use "../../utils/mixins" as *;
@use "../../base/variables" as *;

.about-facts {
  padding-block: convert-to-rem(40px);

  @include mobile {
    min-height: 100dvh;
    height: auto;
  }

  &__wrapper {
    display: flex;
    gap: convert-to-rem(30px);
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: Clamp(30px, 70px);

    @include mobile {
      flex: 1 1 auto;
      gap: convert-to-rem(24px);
    }

    p {
      margin-top: Clamp(12px, 22px);
      @include typography($font-family-montserrat, $fw-regular, 18px, 22px, 0);
    }

    .btn-split--primary {
      width: fit-content;
      color: var(--color-primary-dark);
      background: transparent;

      .btn--primary {
        color: inherit;

        &.btn--icon-only {
          width: convert-to-rem(60px);
          height: convert-to-rem(20px);
          min-width: convert-to-rem(60px);
          padding: 0;
          border: none;
          background: var(--color-white);
        }
      }
    }
  }

  &__right {
    flex: 0 1 auto;
    align-self: center;
    position: relative;

    @include mobile {
      flex: 1 1 auto;
      align-self: stretch;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;

    &-desktop {
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: convert-to-rem(1187px);
        height: convert-to-rem(1250px);
      }
    }
  }

  &__features {
    display: inline-flex;
    gap: convert-to-rem(20px);
    align-items: center;
    position: relative;
    z-index: 1;

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: convert-to-rem(20px);
      align-items: stretch;
    }
  }

  &__column {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: convert-to-rem(10px);

    @include mobile {
      width: 100%;
      align-items: stretch;
    }
  }

  &__card {
    background: var(--color-white-05);
    border: 1px solid var(--color-gray-217);
    border-radius: convert-to-rem(20px);
    padding: 12px 13px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: convert-to-rem(8px);
    width: convert-to-rem(376px);
    max-width: convert-to-rem(376px);
    backdrop-filter: blur(convert-to-rem(32px));
    -webkit-backdrop-filter: blur(convert-to-rem(32px));

    @include mobile {
      width: 100%;
    }
  }

  &__card-number {
    flex: 0 0 auto;
    @include typography($font-family-montserrat, $fw-medium, 70px, 60px, 0);
    color: var(--color-accent-soft-05);
  }

  &__card-text {
    margin: 0;
    max-width: convert-to-rem(300px);
    @include typography($font-family-montserrat, $fw-regular, 15px, 1.2, 0);
  }
}
