@use "../../utils/mixins" as *;
@use "../../base/variables" as *;

.about-gallery {
  padding-block: convert-to-rem(40px);

  &__slider-wrapper {
    max-width: 100%;
    position: relative;
    padding: convert-to-rem(20px) 0;
    overflow: hidden;
  }

  &__slider-controls {
    position: absolute;
    top: convert-to-rem(20px);
    right: 0;
    display: flex;
    gap: convert-to-rem(10px);
    z-index: 20;
  }

  &__slide-text {
    position: absolute;
    left: calc(100% + convert-to-rem(20px));
    top: 0;
    width: convert-to-rem(680px);
    opacity: 0;
    pointer-events: none;
    color: var(--color-white);
    @include typography($font-family-montserrat, $fw-medium, 70px, 1, 0);

    h3 {
      @include typography($font-family-montserrat, $fw-medium, 70px, 1, 0);
      color: var(--color-gray-light-04);
      margin-bottom: convert-to-rem(8px);
    }

    p {
      @include typography($font-family-montserrat, $fw-medium, 22px, 1, 0);
      color: var(--color-primary-dark);
    }
  }

  &__slide.active &__slide-text {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0s ease-in-out;
  }

  &__btn {
    background-color: var(--color-gray-dark);
    color: var(--color-white);
    border: none;
    width: convert-to-rem(48px);
    height: convert-to-rem(48px);
    cursor: pointer;
    font-size: convert-to-rem(20px);
    border-radius: convert-to-rem(8px);
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }

    &:not(:disabled):hover {
      background-color: var(--color-gray-light);
      color: var(--color-navy-900);
    }

    &:not(:disabled):active {
      transform: scale(0.95);
    }
  }

  &__slider-viewport {
    width: 100%;
  }

  &__slider-track {
    display: flex;
    gap: convert-to-rem(20px);
    align-items: flex-end;
    height: convert-to-rem(500px);
    transition: transform 0.5s ease-in-out;
    will-change: transform;
  }

  &__slide {
    width: convert-to-rem(330px);
    height: convert-to-rem(300px);
    flex-shrink: 0;
    position: relative;
    transition: all 0.5s ease-in-out;
    border-radius: convert-to-rem(16px);
    will-change: width, height;
    backface-visibility: hidden;

    &.active {
      width: convert-to-rem(680px);
      height: convert-to-rem(500px);
    }
  }

  &__image-wrap {
    width: 100%;
    height: 100%;
    border-radius: convert-to-rem(16px);
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include mobile {
    &__slider-wrapper {
      padding: convert-to-rem(70px) 0 convert-to-rem(20px) 0;
    }

    &__slider-controls {
      position: absolute;
      top: convert-to-rem(10px);
      right: 0;
      display: flex;
      gap: convert-to-rem(10px);
      z-index: 20;
      align-items: center;
    }

    &__slider-track {
      height: convert-to-rem(350px);
      align-items: center;
    }

    &__slide,
    &__slide.active {
      width: 100%;
      height: 100%;
    }

    &__slide-text {
      position: absolute;
      left: 0;
      top: convert-to-rem(-60px);
      width: calc(100% - convert-to-rem(120px));

      h3 {
        @include typography($font-family-montserrat, $fw-medium, 28px, 1, 0);
        color: var(--color-white-08);
        margin-bottom: convert-to-rem(4px);
      }

      p {
        @include typography($font-family-montserrat, $fw-medium, 14px, 1, 0);
      }
    }
  }
}
